
#custom-btn {
    width: 166px;
    height: 55px;
    /* text-align: center; */
    background: transparent;
    border-radius: 5px;
    border: 1px solid #7C3AED;
    cursor: pointer;
       font-size: 20px;
   font-weight: 700px;
    /* width: 146px;
    height: 24px;   */
    color: #7C3AED;
    margin-top: 10px;    
}