
#features-container {
   background-color: #EDE9FE; 
}

#features {
    background-color: #EDE9FE;
    padding: 50px;
}

#features h3 {
    justify-self: center;
    text-align: center;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    color: #7C3AED;
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 50px;

}

#features h1 {
    justify-self: center;
    text-align: center;
    font-size: 40px;
    color: #2E1065;
    
}

#features p {
    text-align: center;
    justify-self: center;
    font-size: 24px;
    color: #7C3AED;
    width: 850px;
}

#featured-cards-container {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    gap: 10px;

}

#featurescards_1 {

    justify-self: center;
    width: 600px;
    height: 600px;
}

#featurescards_1 img {
    height: auto;
    width: 600px;
}


#featurescards_2 {

    width: 600px;
    height: 600px;
    justify-content: center;
}

#featurescards_2 img {
    height: auto;
    width: 600px;
}

#featurescards_3 {
    display: flex;
    flex-direction: column;
    width: 800px;
    //height: 800px;  
    justify-content: center;

    
}

#featurescards_3 img {
    height: auto;
    width: 800px;
    justify-content: center;

}