
#nav-bar {
    display: flex;
   justify-content: center;
   gap: 100px;
   border-bottom: 1px solid #7C3AED;
   margin-top: 20px;
   padding-bottom: 15px;
}


#nav-brand {
    display: flex;
    align-items: center;
}


#nav-brand h1 {
    font-size: 19.98px;
    font-weight: 600;
    font-style: semibold;
    line-height: 29.97px;
    letter-spacing: 0px;
    color: #7C3AED;
}


#nav-links {
    display: flex;
    gap: 35px;
    margin-top: 2px;
}


#nav-links p {
    font-family: 'space grotesk', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    font-style: bold;
    line-height: 24px;
    letter-spacing: 0%;
    color: #7C3AED;
}

.docs {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #DDD6FE;
    width: 80px;
    height: 34px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}


#nav-btn {
    width: 166px;
    height: 55px;
    /* text-align: center; */
    background: transparent;
    border-radius: 5px;
    border: 1px solid #7C3AED;
    cursor: pointer;
       font-size: 20px;
   font-weight: 700px;
    /* width: 146px;
    height: 24px;   */
    color: #7C3AED;
    margin-top: 10px;
}

/* #nav-btn p {

} */